.mainbox{
    background-color: pink;
    width: 600px;
    margin: auto;
    box-shadow: 10px 10px 6px gray;
  
}
.content{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;

    
}
.content input{
   padding-left: 20px;
   height: 30px;
   width: 400px;
   border-radius: 30px;
   margin: 5px 0;
   border: none;
    
}
.content textarea{
    border-radius: 10px;
    border: none;
    margin: 20px 0;
    color: gray;
    width: 405px;
    padding-left: 20px;
}
.content input:last-child{
    height: 40px;
    width: 400px;
    background-image: linear-gradient( to right, rgb(25, 0, 255), rgb(199, 59, 129),rgb(104, 190, 240));
    color: white;
}
